$app-white: #ffffff;
$app-dark-blue: #070724;
$app-dark-grey: #38384f;
$app-light-grey: #838391;

$app-h1-heading: 80px;
$app-h1-line: 103px;
$app-h2-heading: 40px;
$app-h2-line: 52px;
$app-h2-spacing: -1.5px;

$app-h3-heading: 12px;
$app-h3-spacing: 2.6px;
$app-h4-heading: 11px;
$app-h4-spacing: 1px;
$app-text: 14px;
$app-line: 25px;

$app-tab-h1-heading: 48px;
$app-tab-h1-line: normal;
$app-tab-h2-heading: 24px;
$app-tab-h2-line: normal;
$app-tab-h2-spacing: -0.9px;
$app-tab-text: 11px;
$app-tab-line: 22px;
$app-tab-spacing: 0px;
$app-tab-h3-heading: 13px;
$app-tab-h3-spacing: 1.93px;
$app-tab-h4-heading: 8px;
$app-tab-h4-spacing: 0.73px;
$app-tab-h4-line: 16px;

$app-mob-h1-heading: 40px;
$app-mob-h1-line: normal;
$app-mob-h2-heading: 20px;
$app-mob-h2-line: normal;
$app-mob-h2-spacing: -0.75px;
