main {
  padding: 0px 165px;
  margin: 0;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  #container {
    main {
      padding: 0px 40px;
    }
  }
}

@media only screen and (max-width: 480px) {
  #container {
    main {
      padding: 0;
    }
  }
}
